@charset "utf-8";
/* CSS Document */

body {
    font-family: Verdana, monospace, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    min-height: 800px;
	background-color:#333;
	color:#986A6A;
}
.container {
    width: 1002px;
    position: relative;
    margin: auto;
}
.baslik{
	background-color:#333;
	height:150px;
	text-align:center;
}
.menu{
	float: right;
	  
}
.menuul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.menulia {
  display: block;
  color: #986A6A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width:150px;

}
.acilirmenu ul li ul{
  display: none;
  position:fixed;
}
 
.acilirmenu ul li:hover ul{
  display: block;
}
li a:hover {
  background-color: #111;
}
.icerik {
}
.bolum{
	padding:10px;
	float:left;
	width:334px;
	color:#968F8F;
}
.bolum a{
	color:#968F8F;
}
.bolum a:hover{
	color:#968F8F;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: #968F8F;
  text-align: center;
}
.profilimage {
	float:left;
	height:70px;
	width:70px;
}
.iletisim {
  list-style-type:none;
  overflow: hidden;
}
.icon {
	float:inherit;
	height:20px;
	width:20px;
}
.profil{
	width:250px;
	height:250px;
	margin-right:20px;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
	margin-right:102px;
}
.yazi{
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	float:inherit;
	padding-right:20px;
}
.sutun{
	margin:20px;
}
.zoom {
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}
